<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    
    <div class="antialiased font-sans" id="app">

        <!-- navbar -->
        <header class="navbar h-16 bg-blue-600 text-gray-50">
            <div class="navbar-wrapper">
                <span class="text-xl uppercase font-semibold">{{ project.name }}</span>
                <span class="text-2xl mx-8">I</span>
                <span class="">{{ project.email }}</span>
            </div>
        </header>

        <!-- hero banner -->
        <div class="bg-container relative text-center text-white overflow-y-clip flex justify-center items-center">
            <img src="img/bg-img.jpg" alt="" class="bg-img w-screen bg-center bg-no-repeat bg-cover flex opacity-90">
            <div class="centered absolute text-6xl uppercase font-bold -mt-6">Portfolio</div>
        </div>

        <!-- gallery -->
        <div class=" grid grid-cols-3 gap-6 p-8">
            <div v-for="picture in pictures" :key="picture.id">
                <div class="card rounded-md overflow-hidden shadow-md h-[458.39px] w-full flex items-center justify-center" @click="picture.show = !picture.show">
                    <img :src="picture.src" alt="">
                </div>
            </div>
        </div>
        <div v-for="picture in pictures" :key="picture.id" v-show="picture.show" @click="picture.show =!picture.show"
            class="dialog-content flex items-center h-full w-full justify-center left-0 top-0 z-20 fixed bg-gray-500 bg-opacity-70 "
        >
            <div class="dialog w-[40%] max-h-[90%] m-[24px] overflow-y-auto">
                <div class="card w-full flex justify-center max-w-full relative bg-white">
                    <img :src="picture.src" alt="">
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="footer block bg-gray-600 text-gray-50 text-center py-10">
            <p class="text-2xl">{{ project.name }}</p>
            <p>{{ project.email }}</p>
        </div>

    </div>

    <script src="app.js"></script>
</body>
</html>